@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --ff-primary: "Outfit", serif;

  --fs-paragraph: 15px;

  --fw-400: 400;
  --fw-700: 700;

  --clr-white: hsl(0, 0%, 100%);
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);

  --bg-primary: #d4e1ef;
}

body {
  background-color: var(--bg-primary);

  font-family: var(--ff-primary);
  font-style: normal;
}

.wrapper {
  display: grid;
  place-items: center;
  block-size: 100vh;
}

.card {
  padding: 1rem;
  max-inline-size: 20.625rem;

  border-radius: 1.125rem;

  text-align: center;

  background-color: var(--clr-white);

  box-shadow: var(--clr-slate-500);
  box-shadow: 0 0 1rem -1rem;
}

.card__text {
  padding: 0 0.5rem;
}

.card__description {
  margin-block-end: 1.125rem;

  color: var(--clr-slate-500);
  font-weight: var(--fw-400);
}

.card__header img {
  margin: 0 auto;
  border-radius: 0.65rem;
}
